<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GettingRealInvoiceToPdf.Properties.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GettingRealInvoiceToPdf.Properties.MailUserInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GettingRealInvoiceToPdf.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GettingRealInvoiceToPdf.Properties.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <GettingRealInvoiceToPdf.Properties.ProgramSettings>
            <setting name="Mail" serializeAs="String">
                <value>gettingrealdl@outlook.com</value>
            </setting>
            <setting name="MailPass" serializeAs="String">
                <value>DLreal2018</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp-mail.outlook.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>..\\FakturaPdf\</value>
            </setting>
        </GettingRealInvoiceToPdf.Properties.ProgramSettings>
        <GettingRealInvoiceToPdf.Properties.MailUserInfo>
            <setting name="Mail" serializeAs="String">
                <value>gettingrealdl@outlook.com</value>
            </setting>
            <setting name="MailPass" serializeAs="String">
                <value>DLreal2018</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp-mail.outlook.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>..\\FakturaPdf\</value>
            </setting>
        </GettingRealInvoiceToPdf.Properties.MailUserInfo>
        <GettingRealInvoiceToPdf.Properties.Settings1>
            <setting name="SaveFolder" serializeAs="String">
                <value>..\\FakturaPdf\</value>
            </setting>
        </GettingRealInvoiceToPdf.Properties.Settings1>
    </userSettings>
    <applicationSettings>
        <GettingRealInvoiceToPdf.Properties.ProgramSettings>
            <setting name="LogoFolder" serializeAs="String">
                <value>..\\ImageFolder\LogoFolder\</value>
            </setting>
            <setting name="WatermarkFolder" serializeAs="String">
                <value>..\\ImageFolder\WatermarkLogo\</value>
            </setting>
            <setting name="ImageFolder" serializeAs="String">
                <value>..\\ImageFolder\</value>
            </setting>
            <setting name="Misc" serializeAs="String">
                <value>..\\MiscFolder\</value>
            </setting>
        </GettingRealInvoiceToPdf.Properties.ProgramSettings>
    </applicationSettings>
</configuration>